apiVersion: v1
kind: Config

clusters:
  - name: k3s-cluster
    cluster:
      server: "https://{{ ansible_host }}:6443"
      certificate-authority-data: "{{ certificate_authority_data }}"

contexts:
  - name: jenkins-context
    context:
      cluster: k3s-cluster
      namespace: devops-lab
      user: jenkins-deployer

current-context: jenkins-context

users:
  - name: jenkins-deployer
    user:
      token: "{{ jenkins_kubernetes_token }}"